<div>
	<h1>最新消息</h1>
	<hr>
	<div class="panel-group" id="NEWSPanel" role="tablist" aria-multiselectable="true">

		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#NEWSPanel" href="#collapseOne" aria-expanded="true" aria-controls="collapse">
						title
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collpase collapse in" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
				content
				</div>
			</div>
		</div>

	</div>
</div>